@import '../abstract/variables';

.home__page {
  padding: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
  .home__image {
    width: 100%;
  }
  
  .home__title {
    font-size: 24px;
    font-weight: 600;
    
    color: $black;
    
    margin-top: 0.292em;
  }
  
  .home__description {
    font-size: 18px;
    font-weight: 400;
    line-height: 23.2px;
    
    text-align: center;
    color: $black;
    
    margin-top: 1.4em;
    margin-bottom: 3.556rem;
  }
  
  .pagination__home {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3.93em;
    justify-self: center;
    width: 22.21%;
    
    .pagination__icons {
      height: 10px;
      width: 10px;
      
      background-color: $white;
      
      border: 1px solid $black;
      border-radius: 50%;
    }
    .page-active {
      background-color: $light-green;
      border-color: $light-green;
    }
  }
  
}

.home__page--buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
  .home__button--green-container {
    width: 100%;
    
    .home__button--green {
      width: 100%;
      
      background: $light-green;
      color: $white;
      background: $light-green;
      
      font-size: 18px;
      font-family: $standard-font;
      font-weight: 500;
      
      border: none;
      
      padding: 0.75em 0;
      
      cursor: pointer;        
    }
  }
}

.home__button--skip {
  color: $light-green;
  text-decoration: none;
  
  font-size: 18px;
  margin-top: 2.3em;
}

#section-1 {
  display: none;
}

#section-1:target {
  display: flex;
}

#section-2 {
  display: none;
}

#section-2:target {
  display: flex;
}

#section-3 {
  display: none;
}

#section-3:target {
  display: flex;
}